pandas==3.0.5
requests==2.34.2
python-dotenv==1.2.2
lingua-language-detector==2.2.0
pydantic==2.13.4
tabulate==0.10.0
chainlit==2.11.1
ddgs==9.14.4
google-api-python-client==2.198.0
httpx==0.28.1
httpcore==1.0.9
google-genai==2.14.0